

.frontCardOld{
    transition: 1s;
    flex: 1 1 0;
    border: 1px;
    border-color: var(--card-border);
    border-style: solid;
    margin: 2rem;
    border-radius: 0.5rem;
    background-color: var(--card-background);
    padding: 2rem;
    width: min-content;
    height: 25vh;
    text-align: center;
    justify-items: center;
    align-items: center;
    z-index: -100;
}

.fpFrontCard{
    transition: 1s;
    flex: 1 1 0;
    border: 1px;
    border-color: var(--card-border);
    border-style: solid;
    border-radius: 2rem;
    background-color: var(--card-background);
    padding: 2rem;
    width: min-content;
    height: 75vh;
    text-align: center;
    justify-items: center;
    align-items: center;
    z-index: -100;
}



.backcard.hidden{
    position: fixed;
    flex: 1 1 0;
    flex-direction: column;
    transition: 1s;
    border: 1px;
    border-color: var(--card-border);
    border-style: solid;
    margin: 0 auto;
    margin-left: 5px;
    margin-right: 5px;
    top: 50%;
    left: 50%;
    border-radius: 2rem;
    background-color: var(--card-background);
    padding: 2rem;
    
    height: auto;
    margin-right: -50%;
    text-align: center;
    justify-items: center;
    align-items: center;
    z-index: 1000;
    transform: translate(-50%, -50%);
    opacity: 0;
}
.backcard.show{
    position: fixed;
    flex: 1 1 0;
    flex-direction: column;
    transition: 1s;
    border: 1px;
    border-color: var(--card-border);
    border-style: solid;
    margin: 0 auto;
    margin-left: 5px;
    margin-right: 5px;
    top: 50%;
    left: 50%;
    border-radius: 0.5rem;
    background-color: var(--card-background);
    padding: 2rem;
    
    height: auto;
    margin-right: -50%;
    text-align: center;
    justify-items: center;
    align-items: center;
    z-index: 1000;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.fpImgSmall{
    transition: 2s;
    display: block;
    border-radius: 2rem;
    margin: 0 auto;
    object-fit: contain;
    aspect-ratio: 1 / 1;
    max-width: 15vh;
}

@media screen and (max-width: 600px) {
    .fpImgSmall{
        max-width: 30vw;
        border-radius: 1em;
    }
}

.imgLarge{
    transition: 2s;
    flex: 1 1 0;
    width: 100%;
    max-width: 1000px;
    border-radius: 2rem;
    margin: 0 auto;
}



.title{
    width: 80%;
    margin: auto;
}

.exitButton{
    transition: 2s;
    height: 50px;
    width: auto;
}

.thumbsUpShow{
    opacity: 1;
    transition: 2s;
    display: block;
    height: 100%;
    border-radius: 2rem;
    margin: 0 auto;
}

.thumbsUpHide{
    opacity: 0;
    transition: 2s;
    display: block;
    height: 100%;
    border-radius: 0.5rem;
    margin: 0 auto;
}

.like {
    transition: all 0.5s;
    height: 32px;
    width: 32px;
    background-color: var(--accent-light);
    border: 2px solid var(--accent-light);
    border-radius: 20%;
    padding: 3px;
}

.like.liked{
    background-color: var(--accent);
    border: 2px solid var(--accent);
}



.fpFrontcard.show{
    display: flex;
    flex-direction: column;
    transition: 1s;
    border: 1px;
    border-color: var(--card-border);
    border-style: solid;
    border-radius: 2rem;
    background-color: var(--card-background);
    padding: 2rem;
    text-align: center;
    justify-items: center;
    align-items: center;
    z-index: -100;
    opacity: 1;
    height: 100%;
    
}

.fpFrontcard.hidden{

    flex: 1 1 0;
    border: 1px;
    border-color: var(--card-border);
    border-style: solid;
    height: 100%;
    border-radius: 2rem;
    background-color: var(--card-background);
    padding: 2rem;
    text-align: center;
    justify-items: center;
    align-items: center;
    z-index: -100;
    opacity: 0;

}


@media screen and (max-width: 600px) {
    .fpFrontcard.show{
        padding: 0.8em;
    }
    .fpFrontcard.hidden{
        padding: 0.8em;
    }
}
