.fpHidden {
    filter: blur(5px);
    transform: scale(150%);
    opacity: 0;
    transition: all 3s;
    border: 1px blue;
}

.fpShow {
    filter: blur(0);
    transform: scale(100%);
    opacity: 1;
    border: 2px red;
    text-align: center;
}

.fpSection {
    margin-top: 40vh;
    border: 1px green;
}

.fpBox {
    border: 2px red;
}

.fpDivider {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.fpTextBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;

}

@media screen and (max-width: 600px) {
    .fpTextBox{
        font-size: 8px;
    }
}

.fpCarousel{
    overflow: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    scroll-snap-type: x mandatory;
    display: flex;
    flex-direction: row;
    gap: 1em;
    height: fit-content;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto; 
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.fpCarousel::-webkit-scrollbar {
    display: none;
}

.fpCarouselItem{
    width: 100%;
    height: 100%;
}

.profileImage{
    width: 80%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 2rem;
}